body {
    background-color: beige;
}

#board,
#numbersDrawn {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    font-size: 0;
    margin-right: 30px;
}

.square {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
}

.marker {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 35px;
    opacity: 0.4;
}

h2 {
    margin-top: 0px;
}

#numbers {
    width: 350px;
    font-size: 30px;
    word-spacing: 10px;
    line-height: 50px;
    margin-top: 26px;
    margin-bottom: 25px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin: 0px;
}
